[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django-bootstrap3 = "==9.1.0"
gunicorn = "==19.7.1"
whitenoise = "==3.3.1"
Pillow = "==4.3.0"
django = "~=1.11.16"
django-paypal = "*"

[requires]
python_version = "3.6"
