[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "~=1.11.16"
django-paypal = "*"
django-storages = {extras = ["google"],version = "*"}
gunicorn = "*"
django-bootstrap3 = "*"
pillow = "*"
psycopg2 = "*"

[requires]
python_version = "3.6"
