{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
<h2>Address</h2>
<div class="row">
    <ul class="list-group">
        {% if user.is_authenticated and address_user == request.user %}
        <div class="col-xs-6 col-md-4">
            <li class="list-group-item">
                <a href="{% url 'accounts:create_address' username=user.username %}"><h2>+Add</h2></a><br><br>
            </li>
        </div>
        {% endif %}
            {% for address in address_list %}
                <div class="col-xs-6 col-md-4">
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">{{ address.address }}</h4>
                    <p class="list-group-item-text">Phone number: {{ address.phone_number }}</p>
                    {% if user.is_authenticated and address_user == request.user %}
                    <a class="btn btn-default" href="{% url 'accounts:update_address' username=user.username pk=address.pk %}">EDIT</a>
                    <a class="btn btn-danger" href="{% url 'accounts:delete_address' username=user.username pk=address.pk %}">DELETE</a>
                    {% endif %}
                </li>
                </div>
            {% empty %}
                <h2>You haven't add any address</h2>
            {% endfor %}
    </ul>
</div>


</div>
</div>

{% endblock %}