{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="jumbotron">

<div class="row">
    <div class="col-xs-6 col-md-3">
{% if object.profile_pic %}
        <a href="#" class="thumbnail">
        <img src="{{ object.profile_pic.url }}" alt="No Photo">
        </a>
{% else %}
        <a href="#" class="thumbnail">
        <img src="{% static 'accounts/images/default_profile.png' %}">
        </a>
          <p>You haven't upload a profile pic yet!</p>
{% endif %}
    </div>
    <div class="col-xs-6 col-md-9">
          <h1>{{ object.user.username }}'s Profiles</h1><br>
          <h3><strong>Bio</strong></h3>
            <p>{{ object.bio }}</p>
          {% if user.is_authenticated and object.user == request.user %}
               <a class="btn btn-primary" href="{% url 'accounts:profile_edit' username=user.username %}">EDIT</a><br><br>
          {% endif %}
    </div>
</div>


    <h2><a href="{% url 'accounts:user_address' username=user.username %}">Address List</a></h2>
</div>



{% endblock %}