body{
 background-color: #FCFAF2;
}


.navbar-custom{
background-color: #336774;
border-radius: 0px;

}

.brandfont{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;

    margin-bottom: 5px;
    color: #FFFFFB
}



.rightbar{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25em;
    color: #FFFFFB;
    margin-top: 2px;

}

#query_form{
    margin-top: 15px;

}

.btn-search{
  background-color: #F9BF45;
  color:
}#535953


.query{
border-radius: 0px;
}

#query_text{
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
}

#query_button{
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
}


.blockone{
    float:left;
}

.blocktwo{
    float:left;
}

.add{
border-style:dashed;
border: 5px
}

.btn-product{
color: #FFFFFB;
background-color: #F9BF45;
}